# Archivos de configuración
.vscode/
*.code-workspace

# Se ignoran los datos generados
data/
p*/

# Directorios de compilación
build/
*.mod
test/

# Ignorar archivos de Python
*.py
poetry.lock
pyproject.toml